@bz-txt-gray : rgb(84, 85, 85);
@bz-blue : rgb(0, 128, 255);
@bz-red: #ff6666;
@bz-green : rgb(50, 135, 59);
@header-height: 10%;
@sidebar-width: 22%;
@content-width: 78%;
@fixed-header-height: 160px;

html, body, .container-fluid, .row-fluid {
  height: 100%;
}

body{
  margin: 0px;
  font-family: "Raleway", Arial, sans-serif;

  #siteContainer {

    .row-fluid {

      .header {
        position: fixed;
        height: @header-height;
        background-color: transparent;

        .sidebar {
          height: 100%;
          width: @sidebar-width;
          display: inline-block;
          float: left;
        }

        .content {
          height: 100%;
          width: @content-width;
          display: inline-block;

          &.green {
            background-color: @bz-green;
          }
        }
      }

      #sidebar-container{
        height: 100%;
        display: inline-block;
        width: 22%;
        float: left;
//        max-width: 320px;

        #sidebar{

          .line {
            height: 95%;
            width: 1px;
            float: right;
            background-color: #bebebe;
          }

          display: inline-block;
          width: 25%;
          font-size: 2.8vw;
          color: @bz-txt-gray;
          position: fixed;
          top: @header-height;
          height: 100%;
          font-weight: 100;
          left: 0px;
          width: inherit;
          max-width: inherit;
          padding: 0px;

          .myName {
            width: 80%;
            margin: auto;
            cursor: pointer;
          }

          .menu {
            width: 80%;
            margin: auto;
            padding-top: 30%;

            .mItem {
              padding: 20px 0px;
              cursor: pointer;
              .selectionbar {
                transition: all 0.3s ease-out;
                position: relative;
                width: 80%;
                background: transparent;
                top: 10px;
                height: 2px;
              }

              &.selected {
                .selectionbar {
                  background: @bz-blue;
                }
              }

              &:hover:not(.selected) {
                .selectionbar {
                  background: #C9E0F6;
                }
              }
            }
          }
        }


      }

      #content-container {
        display: inline-block;
        margin: 0px;
        position: relative;
        height: 100%;
        width: @content-width;

        .entry-container {
         position: relative;
         height: 100%;

          .fixed-header {
            height: @fixed-header-height;
            position: fixed;
            width: 78%;
            box-shadow: 0px 1px 4px rgb(163, 163, 163);
            z-index: 1000;
            background: #ffffff;

            .entryDetails {
              width: 100%;
              height: 90px;
              background-color: @bz-green;
              color: white;
              display: table;

              .entry-name {
                font-size: 2.2em;
                display: table-cell;
                height: 100%;
                font-weight: 300;
                vertical-align: middle;
                width: 5%;
                text-align: center;
                padding-left: 5%;
              }

              .nav-btn {
                transition: all 0.3s ease-out;
                display: none;
                text-align: center;
                height: 100%;
                font-weight: 300;
                vertical-align: middle;
                font-size: 1.2em;
                cursor: pointer;
                width: 15%;
                padding: 0px 10px;
                line-height: 2em;
                color: #ffffff;
                font-weight: 100;

                &:hover {
                  text-decoration: underline;
                  color: #ffffff;
                }
              }
              .my-next-work {
                .nav-btn;

                div {
                  border-left: 1px solid white;
                }
              }

              .my-prev-work {
                .nav-btn;

                div {
                  border-right: 1px solid white;
                }
              }

              .entry-description {

                padding: 0px 20px;
                font-size: 1em;
                display: table-cell;
                vertical-align: middle;
                font-weight: 200;
                line-height: 1.6;

                div {
                  padding-left: 35px;
                }
              }
          }

          .scroll-menu {
            width: 100%;
            ul {
              width: 100%;
              margin: 0;
              padding: 0;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
              list-style: none;

              a {
                cursor: pointer;
                transition: all 0.3s ease-out;
                padding: 1.25rem 0.5rem;
                font-size: 1.6rem;
                max-width: 250px;
                font-weight: 300;
                text-decoration: none;
                display: flex;
                align-items: flex-start;
                border-bottom: 4px solid transparent;

                &.selected {
                  border-bottom: 4px solid @bz-red;
                }
              }
              .icon {
                width: 40px;
                height: 40px;
                float: left;
                margin-right: 1rem;
              }
            }
          }
        }
        }

        .content-view {
          top: @header-height;
          position: absolute;
          width: 90%;
          margin: 0 auto;
          padding-left: 5%;
        }

        .lp {

          .opening-quote {
            letter-spacing: 0.7px;
            font-size: 4vw;
            color: #313131;
            font-weight: 100;
            font-style: italic;
            width: 80%;
          }

          .source {
            color: #2c2d2d;
            font-size: 1.7vw;
            font-weight: 400;
            padding-top: 2%;
          }

          .buttons-container {
            width: 80%;
            margin: auto;
            margin-top: 20%;


            .btnContainer {
              float: right;
              width: 50%;
              &.left {
                float: left;
              }

              .inline-btn {
                transition: all 0.3s ease-out;
                display: inline-block;
                padding: 15px 20px;
                border: solid 1px;
                cursor: pointer;
                font-size: 3vw;
                font-weight: 200;

                &.blue-btn {
                  color: @bz-blue;
                  border-color: @bz-blue;

                  &:hover {
                    color: white;
                    background-color: rgb(0, 128, 255);
                  }
                }

                &.red-btn {
                  color: @bz-red;
                  border-color: @bz-red;

                  &:hover {
                    color: white;
                    background-color: @bz-red;
                  }
                }
              }
            }
          }
        }

        .my-resume {
          color: @bz-txt-gray;
          width: 70%;

          .myProfile {
            height: 125px;
            margin-bottom: 50px;
            position: relative;

            .myImage {
              height: 125px;
              width: 125px;
              background-image: url('../images/benny.jpg');
              border-radius: 10px;
              background-position: center;
              background-size: contain;
            }

            .links {
              bottom: 0px;
              position: absolute;
              left: 155px;

              a {
                text-decoration: underline;
                color: @bz-txt-gray;
                display: block;
                font-size: 1.4vw;
                font-weight: 200;
                padding-top: 35px;
              }
            }
          }

          .resumeEntry {
            padding-bottom: 30px;

            p {
              margin-top: 0px;
            }

            .header {
              font-weight: 300;
              font-size: 2vw;
              padding-bottom: 30px;
              position:relative;
            }

            .content {
              font-weight: 300;
              font-size: 1.4vw;
              line-height: 1.9vw;

              .skill {
                padding-bottom: 20px;

                .skill-name {
                  width: 20%;
                  display: inline-block;
                  float: left;
                  margin-right: 10%;
                }
              }
            }
          }
        }

        .my-work-list {
          color: @bz-txt-gray;

          .work-entry {
            margin-left: 0px;
            margin-bottom: 80px;

            &:hover {
              cursor: pointer;

              .my-work-preview-img {
                  box-shadow: 1px 1px 15px rgb(73, 73, 73);
              }

              .entry-header {
                color: @bz-blue;
                text-decoration: underline;
              }
            }


            .my-work-preview-img {
              transition: all 0.2s ease-out;
              padding: 5px;
              border-radius: 4px;

               img {
                 position: relative;
                 width: 100%;
               }
             }

            .entry-header {
              transition: all 0.2s ease-out;
              font-size: 32px;
              padding-bottom: 20px;
            }

            .my-work-preview-text {
              line-height: 1.5;
              font-size: 18px;
              width: 80%;
            }
          }
        }

        .my-work-entry {
          top: @fixed-header-height;
          margin-left: 0px;
          position: relative;
          height: 100%;

          .entry-content {
            position: absolute;
            top: 50px;

            section {
              height: 300px;

              .subheader {
                color: @bz-txt-gray;
                font-size: 2rem;
                font-weight: 200;
              }
            }
          }
        }
      }
    }
  }
}
