html,
body,
.container-fluid,
.row-fluid {
  height: 100%;
}
body {
  margin: 0px;
  font-family: "Raleway", Arial, sans-serif;
}
body #siteContainer .row-fluid #sidebar-container {
  height: 100%;
  max-width: 320px;
}
body #siteContainer .row-fluid #sidebar-container #sidebar {
  font-size: 2.8vw;
  color: #545555;
  position: fixed;
  top: 0px;
  height: 100%;
  font-weight: 100;
  left: 0px;
  width: inherit;
  max-width: inherit;
  padding: 60px 0px;
}
body #siteContainer .row-fluid #sidebar-container #sidebar .line {
  height: 95%;
  width: 1px;
  float: right;
  background-color: #bebebe;
}
body #siteContainer .row-fluid #sidebar-container #sidebar .myName {
  width: 80%;
  margin: auto;
}
body #siteContainer .row-fluid #sidebar-container #sidebar .menu {
  width: 80%;
  margin: auto;
  padding-top: 30%;
}
body #siteContainer .row-fluid #sidebar-container #sidebar .menu .mItem {
  padding: 20px 0px;
  cursor: pointer;
}
body #siteContainer .row-fluid #sidebar-container #sidebar .menu .mItem .selectionbar {
  transition: all 0.3s ease-out;
  position: relative;
  width: 80%;
  background: transparent;
  top: 10px;
  height: 2px;
}
body #siteContainer .row-fluid #sidebar-container #sidebar .menu .mItem.selected .selectionbar {
  background: #0080ff;
}
body #siteContainer .row-fluid #sidebar-container #sidebar .menu .mItem:hover:not(.selected) .selectionbar {
  background: #C9E0F6;
}
body #siteContainer .row-fluid #content-container {
  padding-top: 60px;
}
body #siteContainer .row-fluid #content-container .lp {
  margin-left: 20px;
}
body #siteContainer .row-fluid #content-container .lp .opening-quote {
  letter-spacing: 0.7px;
  font-size: 4vw;
  color: #313131;
  font-weight: 100;
  font-style: italic;
  width: 80%;
}
body #siteContainer .row-fluid #content-container .lp .source {
  color: #2c2d2d;
  font-size: 1.7vw;
  font-weight: 400;
  padding-top: 2%;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container {
  width: 80%;
  margin: auto;
  margin-top: 20%;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container .btnContainer {
  float: right;
  width: 50%;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container .btnContainer.left {
  float: left;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container .btnContainer .inline-btn {
  transition: all 0.3s ease-out;
  display: inline-block;
  padding: 15px 20px;
  border: solid 1px;
  cursor: pointer;
  font-size: 3vw;
  font-weight: 200;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container .btnContainer .inline-btn.blue-btn {
  color: #0080ff;
  border-color: #0080ff;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container .btnContainer .inline-btn.blue-btn:hover {
  color: white;
  background-color: #0080ff;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container .btnContainer .inline-btn.red-btn {
  color: #ff6666;
  border-color: #ff6666;
}
body #siteContainer .row-fluid #content-container .lp .buttons-container .btnContainer .inline-btn.red-btn:hover {
  color: white;
  background-color: #ff6666;
}
body #siteContainer .row-fluid #content-container .myResume {
  color: #545555;
  width: 70%;
}
body #siteContainer .row-fluid #content-container .myResume .myProfile {
  height: 125px;
  margin-bottom: 50px;
  position: relative;
}
body #siteContainer .row-fluid #content-container .myResume .myProfile .myImage {
  height: 125px;
  width: 125px;
  background-image: url('../images/benny.jpg');
  border-radius: 10px;
  background-position: center;
  background-size: contain;
}
body #siteContainer .row-fluid #content-container .myResume .myProfile .links {
  bottom: 0px;
  position: absolute;
  left: 155px;
}
body #siteContainer .row-fluid #content-container .myResume .myProfile .links a {
  text-decoration: underline;
  color: #545555;
  display: block;
  font-size: 1.4vw;
  font-weight: 200;
  padding-top: 35px;
}
body #siteContainer .row-fluid #content-container .myResume .resumeEntry {
  padding-bottom: 30px;
}
body #siteContainer .row-fluid #content-container .myResume .resumeEntry p {
  margin-top: 0px;
}
body #siteContainer .row-fluid #content-container .myResume .resumeEntry .header {
  font-weight: 300;
  font-size: 2vw;
  padding-bottom: 30px;
}
body #siteContainer .row-fluid #content-container .myResume .resumeEntry .content {
  font-weight: 300;
  font-size: 1.4vw;
  line-height: 1.9vw;
}
body #siteContainer .row-fluid #content-container .myResume .resumeEntry .content .skill {
  padding-bottom: 20px;
}
body #siteContainer .row-fluid #content-container .myResume .resumeEntry .content .skill .skill-name {
  width: 20%;
  display: inline-block;
  float: left;
  margin-right: 10%;
}
